<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/add.css">
    <title>Document</title>
</head>
<body>
    <table class="nav"> 
        <tr> 
            <td>
                <h3><a href="/">Home</a></h3>
            </td>
            <td> 
                <h3><a href="/add.ejs">ADD</a></h3>
            </td>
            <td>
                <h3><a href="/profile.ejs">Profile</a></h3>
            </td>
        </tr>
    </table>
    <hr>
    <h2>เพิ่มหมายเลขฉลากกินแบ่ง</h2>
    <table class="Input">
        <tr>
            <th>
                 <h3>วันที่ 16 มีนาคม 2565</h3>
                 <p><b>หมายเลขรางวัลที่ 1</b></p>
                        <form action="" method="port"><input name="Re1" class="Box" type="text" placeholder="Press number" required>
                            <button type="submit" class="bt">Submit</button>
                        </form>
                    <p><b>หมายเลขรางวัลที่ 2</b></p>
                        <form action="" method="port"><input name="Re2" class="Box" type="text" placeholder="Press number" required>
                            <button type="submit" class="bt">Submit</button>
                        </form>
                    <p><b>หมายเลขรางวัลสุดท้าย</b></p>
                        <form action="" method="port"><input name="Rewardlast" class="Box" type="text" placeholder="Press number" required>
                            <button type="submit" class="bt">Submit</button>
                        </form>
            </th>
            <th>
                <h3>วันที่ 1 เมษายน 2565</h3>
                <p><b>หมายเลขรางวัลที่ 1</b></p>
                        <form action="" method="port"><input name="Reward11" class="Box" type="text" placeholder="Press number" required>
                            <button type="submit" class="bt">Submit</button>
                        </form>
                    <p><b>หมายเลขรางวัลที่ 2</b></p>
                        <form action="" method="port"><input name="Reward22" class="Box" type="text" placeholder="Press number" required>
                            <button type="submit" class="bt">Submit</button>
                        </form>
                    <p><b>หมายเลขรางวัลสุดท้าย</b></p>
                        <form action="" method="port"><input name="Rewardlastnumber1" class="Box" type="text" placeholder="Press number" required>
                            <button type="submit" class="bt">Submit</button>
                        </form>
            </th>
            <th>
                <h3>วันที่ 16 เมษายน 2565</h3>
                <p><b>หมายเลขรางวัลที่ 1</b></p>
                        <form action="" method="port"><input name="Reward111" class="Box" type="text" placeholder="Press number" required>
                            <button type="submit" class="bt">Submit</button>
                        </form>
                    <p><b>หมายเลขรางวัลที่ 2</b></p>
                        <form action="" method="port"><input name="Reward222" class="Box" type="text" placeholder="Press number" required>
                            <button type="submit" class="bt">Submit</button>
                        </form>
                    <p><b>หมายเลขรางวัลสุดท้าย</b></p>
                        <form action="" method="port"><input name="Rewardlastnumber2" class="Box" type="text" placeholder="Press number" required>
                            <button type="submit" class="bt">Submit</button>
                        </form>
            </th>
        </tr>
    </table>
    <hr>
    <div class="imge">
    <footer><img src="bu.png" alt="Profile" style="width: 10%;"></footer>
    </div>
    <hr>
</body>
</html>