<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/add.css">
    <title>Lottery</title>
</head>
<body>
    <table class="nav"> 
        <tr> 
            <td>
                <h3><a href="/">Home</a></h3>
            </td>
            <td> 
                <h3><a href="/addall.ejs">ADD</a></h3>
            </td>
            <td>
                <h3><a href="/profile.ejs">Profile</a></h3>
            </td>
        </tr>
    </table>
    <hr>
    <h2>เพิ่มหมายเลขฉลากกินแบ่ง</h2>
    <table class="Input">
        <tr>
            <th>
                <a href="/add.ejs"><h3>วันที่ 16 มีนาคม 2565</h3></a>
                </form>
            </th>
            <th>
                <a href="/add1.ejs"><h3>วันที่ 1 เมษายน 2565</h3></a>
                </form>
            </th>
            <th>
                <a href="/add2.ejs"><h3>วันที่ 16 เมษายน 2565</h3></a>
                </form>
            </th>
        </tr>
    </table>
</body>
</html>