<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/profile.css">
    <title>Profile</title>
</head>
<body>
    <table class="nav"> 
        <tr> 
            <td>
                <h3><a href="/">Home</a></h3>
            </td>
            <td> 
                <h3><a href="/addall.ejs">ADD</a></h3>
            </td>
            <td>
                <h3><a href="/profile.ejs">Profile</a></h3>
            </td>
        </tr>
    </table>
    <hr>
    <h1>My Profile</h1>
    <div class="table-content"> 
        <table> 
        <tr> 
            <th><h2>About me</h2> 
                <p class="p-Aboutme">   
                    Hello, my name is Saowapak Noibua, my nickname is Ham, my 21 year old, I was born in Thailand, 
                    graduated from Bangkok University, Faculty of Engineering, 
                    Computer and Robotics.
                </p>
                <h5>ID Student: 1630901179</h5>
                <h5>Phone Number: 098-2707-xxx</h5> 
                <h5>Email: <a href="mailto: hamza_2641@hotmail.com">hamza_2641@hotmail.com</a></h5> 
            </th>
            <th> 
                <p><img src="HamHarry.png" alt="HamHarry" style="width: 40%;"></p>
            </th>
            <th id="th-Details"><h2>Details</h2> 
                <h6>Name: Mr.Saowapak Noibua</h6>
                <h6>Location: Thailand</h6>
                    <h2>Social Media:</h2>
                        <p><a href="https://www.youtube.com/channel/UC-9RhZzy20Gzo4byqBnxe9g"><img src="YB.png" alt="youtube" style="width: 10%;"></a> 
                        <a href="https://www.facebook.com/profile.php?id=100003561443750"><img src="FB.png" alt="facebook" style="width: 10%;"></a> 
                        <a href="https://www.instagram.com/ham_harry/" class="fa fa-instagram"><img src="IG.png" alt="IG" style="width: 10%;"></a> 
                        </p>
            </th>
        </tr> 
        </table>
    </div>
    <hr>
    <div class="imge">
    <footer><img src="bu.png" alt="Profile" style="width: 10%;"></footer>
    </div>
    <hr>
</body>
</html>